<h1 id="tableLabel">Orders</h1>

<p>Order of logged in user.</p>

<p *ngIf="!orders"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
  <thead>
    <tr>
      <th>Side</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.isBuy ? "Buy" : "Sell" }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.rate }}</td>
      <td>{{ order.createdOn }}</td>
    </tr>
  </tbody>
</table>
